<div class="side-bar-header">
<%= link_to current_user.name, edit_user_path(current_user) %>
  <div class="header-name">
    <a href="#">Tom</a>
  </div>
  <div class="create-room">
     <%= link_to "チャットを作成する", new_room_path %>
  </div>
</div>

<div class="rooms">
<% current_user.rooms.each do |room| %>
<!--ユーザーと紐づいているルーム配列の数だけ繰り返し処理する-->
    <div class="room">
      <div class="room-name">
  <%= link_to room.name, room_messages_path(room) %>
  <!--該当するチャットルーム名をリンクとして表示する。遷移先はmessages#index-->
      </div>
    </div>
  <% end %>
  </div>